@charset "UTF-8";

main {
    border: 5px black solid;
    height: 100%;
    max-width: 40%;
    min-width: 300px;
    padding: 15px 15px;
    margin: auto;
}

.box {
    border: 2px black solid;
    height: 50px;
    width: 50px;
    padding: 15px;
    margin: auto;
}

#flexivel {
    display: flex;
    flex-direction: row;
    text-align: center;
}


