body{
background-color: rgba(52, 52, 170, 0.726);
font-family: normal 15pt Arial;
}

header{
 color: white;
 text-align: center;
}

section{
background: white;
padding: 15px;
border-radius: 10px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.493);
}

div {
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}